:root {
  --main-color: rgb(0, 9, 91);
  --hover-color: #1700f4;

  --dark-bg-color: rgb(12,18,24);
}

@font-face {
  font-family:"ford-antenna-light";
  src: url("fonts/FordAntenna-Light.woff2");
  letter-spacing: 1px;
}

@font-face {
  font-family:"ford-antenna-regular";
  src: url("fonts/FordAntenna-Regular.woff2");
  letter-spacing: 1px;
  line-height: 18px;
}

@font-face {
  font-family:"ford-antenna-cond-regular";
  src: url("fonts/FordAntennaCond-Regular.woff2");
  letter-spacing: 1px;
  line-height: 18px;
}

@font-face {
  font-family: "ford-antenna-medium";
  src: url("fonts/FordAntenna-Medium.woff2");
  line-height: 18px;
}

@font-face {
  font-family: "ford-antenna-bold";
  src: url("fonts/FordAntenna-Bold.woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.section_wrapper {
  margin: 48px 100px;
}

.content_wrapper {
  max-width: 820px;
  margin-inline: auto;
}

body,
body button {
  font-family: "ford-antenna-regular","arial","helvetica","sans-serif";
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #fff;
  font-size: 40px;
}

h2 {
  color: var(--main-color);
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: rgb(77, 77, 77);
  padding-top: 8px;
  line-height: 24px;
  letter-spacing: 1px;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

.small_txt {
  font-size: 11px;
}

.box_shadow_style {
  box-shadow: 0px 10px 21px -5px #cccccc
}

.rel_box {
  position: relative;
}

.absolute_box {
  position: absolute;
}

.l_size_padding {
  padding-inline: 96px;
  width: 100%;
}

.container {
  padding-inline: 96px;
}

.nav_first,
.nav_second_link_container,
.nav_second,
.nav_link_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav,
nav button,
nav a {
  color: var(--main-color);
  font-family: "ford-antenna-medium","arial","helvetica","sans-serif";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav_first {
  background-color: #f2f2f2;
  height: 40px;
  padding: 0 100px;
}

.nav_second {
  min-height: 80px;
  background-color: #fff;
  padding-inline: 100px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
}

.nav_button,
.nav_item {
  padding-inline: 8px;
}

.nav_link_list .nav_item:first-child {
  padding-left: 0;
}

.nav_item,
.nav_item a,
.nav_item button {
  display: flex;
  align-items: center;  
}

.nav_item a:hover,
nav button:hover {
  color: var(--hover-color);
}

.selected_link {
  border-bottom: 2px solid #1700f4;
}

.nav_link path{
  fill: #00095b;
  background-color: #fff;
}

.nav_link:hover path {
  fill: var(--hover-color)
}

.nav_link_icon,
.nav_item_text {
  margin-left: 8px;
}

.nav_link_list .nav_item:first-child .nav_link_icon {
  margin-left: 0;
}

.nav_first_left .nav_item:not(:first-child) {
  border-left: 1px solid rgba(0,0,0,0.2);
  min-height: 24px;
}

nav button {
  border: none;
  background-color: transparent;
}

.nav_item .location {
  text-transform: none;
}

.burger_menu_container {
  display: none;
}

.ford_logo_container {
  height: 50px;
  padding-right: 16px;
  display: inline-block;
}

.ford_logo {
  background: url("images/logos/ford_nav_logo.png") no-repeat -200px 0;
  width: 93px;
  height: 35px;
  background-size: 400px 200px;
  display: inline-block;
  padding: 0;
  margin: 6px 0 0 0;
}

.nav_second_link_container {
  gap: 50px;
  flex: 1;
}

.vehicle_types > .nav_item .nav_button,
.additional > .nav_item .nav_button {
  min-height: 50px;
}

.vehicle_types {
  flex: 1;
}

.additional {
  justify-content: flex-end;
  padding-left: 16px;
}

.secondary_nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 64px;
  background-color: #00142e;
}

.explore_btn {
  background-color: var(--main-color);
  color: #fff;
  text-align: start;
  width: 320px;
  height: 64px;
  padding-inline: 100px;
  border: 1px solid rgba(255,255,255,0.2);
}

.explore_btn:hover {
  background-color: var(--hover-color);
}

.dropdown_arrow_container {
  background: url("images/icons/dropdown_arrow_icon.png") no-repeat;
  background-size: 100% 100%;
  margin: 12px auto 0;
  width: 18px;
  height: 12px;
  top: 14px;
  right: -2px;
}

.dropdown {
  background: transparent;
  padding: 0 34px 0 0;
  height: 64px;
  width: 320px;
}

.dropdown_content {
  display: none;
  width: 306px;
  height: 112px;
  top: 64px;
  left: 74px;
  z-index: 10000;
  background-color: white;
  color: var(--main-color);
  font-size: 14px;
}

.dropdown_content li {
  height: 56px;
  padding: 16px 8px;
  margin-inline: 18px;
}

.dropdown_content li a {
  color: var(--main-color)
}

.dropdown_content li:first-child {
  border-bottom: 1px solid rgb(185, 185, 185);
}

.dropdown:hover .dropdown_content {
  display: block;
}

.headline {
  width: 100%;
}

.headline_wrapper {
  width: 100%;
}

.headline_content {
  width: 100%;
  top: 40px;
  bottom: 8px;
}

.button_style {
  display: block;
  position: relative;
  font-family: "ford-antenna-cond-regular", "arial","helvetica","sans-serif";
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 12px 0;
  z-index: 1;
}

.button_style::after {
  content: "";
  display: block;
  position: absolute;
  top: -2%;
  left: 0;
  height: 42px;
  border-radius: 32px;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.button_style:hover::after {
  transform: scale(1.07);
}

.light_btn {
  width: 162px;
  color: var(--main-color);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}

.light_btn::after {
  width: 162px;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border: 1px solid #fff;
}

.dark_btn {
  color: #fff;
  width: 250px
}

.dark_btn::after {
  background-color: var(--main-color);
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 14%);
  border: 1px solid var(--main-color);
  width: 250px;
}

.dark_btn:hover::after {
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.light_button::after {
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  left: 0;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  width: 162px;
  height: 42px;
  border-radius: 32px;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.headline_btn_container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin: 20px 0;
}

.learn_more_btn {
  width: 152px;
}

.learn_more_btn:after {
  width: 152px
}

.garage_goals_article {
  text-align: center;
}

.garage_article_content {
  padding: 48px 0 32px 0;
  max-width: 820px;
  margin-inline: auto;
}

.garage_goals_article h2 {
  margin: 0 210px;
  padding-top: 48px;
}

.description_columns_container {
  margin: 64px auto 64px;
  padding-inline: 92px;
  display: flex;
  justify-content: space-between;
}

.description_column {
  display: flex;
  flex-direction: column;
  max-width: 48%;
  margin: 0 8px 0 12px;
  padding: 0 0 48px 0;
}

.description_content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 100%;
  padding: 16px 16px 32px;
}

.description_btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.gallery_section .header_wrapper {
  font-family: "ford-antenna-light","arial","helvetica","sans-serif";
  padding: 46px 0;
  line-height: 22px;
  text-align: center;
}

.gallery_section h2 {
  color: #333;
  margin: 20px 0 10px;
}

.gallery_img_container {
  display: flex;
  flex-wrap: wrap;
}

.gallery_section .img_wrapper {
  width: 25%;
  overflow: hidden;
}

.gallery_section .img_wrapper img {
  height: 100%;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.gallery_section .img_wrapper:hover img {
  transform: scale(1.1);
}

.gallery_l_hidden_img {
  display: none;
}

.more_img_btn {
  width: 100%;
  min-height: 66px;
  padding: 16px 0;
  background-color:  #0276b3;
}

.more_img_wrapper {
  display: none;
}

.more_img_container:hover .more_img_wrapper {
  display: flex;
}

.more_img_container:hover .more_img_btn {
  display: none;
}

.historical_section {
  background-color: var(--dark-bg-color);
}

.mustang_ad_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 32px;
}

.mustang_ad_container p {
  color: rgb(253,255,255);
  font-size: 32px;
  padding: 0;
}

.mustang_ad_container span {
  color: rgb(253,255,255);
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 8px;
}

.mustang_ad_logo {
  width: 180px;
  height: 120px;
}

.historical_content_wrapper h2 {
  color: rgb(253,255,255);
  font-size: 32px;
  text-align: center;
  padding-top: 32px;
}

.historical_content_wrapper p {
  max-width: 800px;
  color: rgb(253,255,255);
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin-inline: auto;
}

.historical_section .img_container {
  padding: 32px 92px 180px;
  display: flex;
  justify-content: space-around;
}

.historical_section .img_wrapper {
  margin: 12px;
  flex: 1;
}

.cars_comparison_section {
  padding-block: 48px;
}

.comparison_section_headline p {
  font-family: "ford-antenna-light","arial","helvetica","sans-serif";
  text-align: center;
  max-width: 800px;
  margin-inline: auto ;
}

.cars_models_list {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-inline: 94px;
}

.cars_models_label {
  width: 28%;
  padding: 10px 10px 10px 10px;
  background-color: rgb(247,247,247);
  flex: 1;
  text-align: center;
}

.cars_models_label:first-child {
  border-bottom: 4px solid rgb(16, 43, 78);
}

.cars_models_label:hover {
  box-shadow: 0px 4px 0px 0px rgb(16, 43, 78);
  padding: 10px 10px 6px 10px;
}

.cars_models_list:hover .cars_models_label {
  border-bottom:  4px solid rgba(147, 48, 48, 0)
}

.cars_models_label a {
  display: block;
  padding-top: 10px;
  color: #0276b3;
  font-size: 14px;
}

.comparison_content_container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: scroll;
  scroll-snap-type: inline mandatory;
  padding: 48px 0;
}

.comparison_content {
  scroll-snap-align: start;
}

.comparison_content .img_wrapper {
  margin-bottom: 36px;
}

.comparison_content h2,
.comparison_content p,
.comparison_content span {
  max-width: 800px;
  text-align: center;
  margin-inline: auto;
} 

.comparison_content span {
  display: block;
  font-size: 12px;
  margin-top: 18px;
  color: #4d4d4d;
}

.arrows_container {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.arrow_icon_wrapper {
  margin-inline: 10px;
}

.video_presentation_section {
  padding-bottom: 32px;
  background-color: rgb(0,0,2); 
}

.video_presentation_section h2,
.video_presentation_section p {
  color: #fff;
  text-align: center;
  margin-inline: auto;
}

.video_presentation_section h2 {
  font-size: 24px;
}

.video_headline_wrapper {
  margin: 20px auto 10px;
}

.add_information {
  font-size: 12px;
  margin: 24px 0;
}

  .play_btn {
  left: calc(50% - 62px);
   top: calc(50% - 62px);
  border-radius: 50%;
  background-color: rgba(0,9,91,0.7);
}

.more_info_section .article_container {
  display: flex;
}

.more_info_btn_container {
  margin-top: 32px;
}

.reverse_column {
  flex-flow: row-reverse;
  align-items: flex-start;  
}

.article_container > * {
  width: 50%;
}

.article_content_container {
  padding: 32px 24px 32px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.more_info_article h3 {
  padding-top: 32px;
}

.club_connect_article {
  background-color: rgb(247,247,247);
  margin-bottom: 48px;
}

.club_connect_content {
  padding: 48px 0 32px;
  text-align: center;
}

.all_clubs_btn,
.all_clubs_btn::after {
  width: 240px;
}

.all_clubs_btn {
  margin: 32px auto 0;
}

.shop_content_container {
  top: 38px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.shop_content_container h1 {
  font-family: "ford-antenna-medium","arial","helvetica","sans-serif";
}

.shop_content_container h1,
.shop_content_container p {
  color: #fff;
  text-align: center;
}

.shop_btn {
  margin: 32px 0;
}

.shop_btn,
.shop_btn::after {
  width: 222px;
}

.social_section h2,
.updates_section h2 {
  font-family: "ford-antenna-medium","arial","helvetica","sans-serif";
  color: #fff;
  margin-bottom: 12px;
}

.social_section h2 {
  text-align: left;
}

.social_section p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  padding-top: 4px;
  margin-bottom: 12px;
}

.social_headline_wrapper {
  padding-top: 50px;
}

.social_content_wrapper {
  width: 100%;
  top: 40px;
  bottom: 32px;
}

.social_content_container {
  width: 100%;
  height: 100%;
}

.social_networks_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  left: 0;
  top: 58%;
}

.social_network_link {
  width: 190px;
  height: 190px;
  margin: 0;
}

.updates_content_wrapper {
  bottom: 16%;
  width: 100%;
}

.updates_content_wrapper h1 {
  text-align: center;
}

.disclosures_text_container {
  word-break: break-all;
}

.disclosures_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  cursor: pointer;
}

.disclosures_btn p {
  font-family: "ford-antenna-light", "arial","helvetica","sans-serif";
  color: #0276b3;
  font-size: 14px;
}

.disclosures_arrow {
  margin: 6px 0 0 6px;
}

.disclosures_list li h3,
.disclosures_list li p {
  font-size: 12px;
} 

.disclosures_list {
  display: none;
  background-color: rgb(247,247,247);
  padding-top: 40px;
  padding-block: 40px;
  max-height: 240px;
  overflow-y: scroll;
}

.disclosures_content_wrapper:hover .disclosures_list {
  display: block;
}

.alert_banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #00142E;
  padding-top: 20px;
}

.alert_banner h2 {
  color: #FFFFFF;
  font-size: 48x;
  margin: 20px 0 10px;
}

.alert_banner p {
  color: #FFFFFF;
  font-size: 14px;
  max-width: 740px;
  margin-inline: auto;
  text-align: center;
}

.alert_banner p a {
  color: rgb(156,156,156);
  text-decoration: underline var(--hover-color);
}

.alert_btn_wrapper {
  padding: 10px 0 20px;
}

.alert_btn,
.alert_btn::after {
  width: 358px;
}

.search_box {
  display: flex;
  justify-content: space-between;
  padding: 32px 100px;
  background-color: var(--main-color);
}

.search_input {
  padding: 16px 0 12px 32px ;
  display: block;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 300px;
  color: #fff;
  font-family: "ford-antenna-medium","arial","helvetica","sans-serif";
  font-weight: 400;
  font-size: 16px;
}

.search_icon {
  top: 10px;
  left: 8px;
}

::placeholder {
  color: #fff;
  opacity: 1;
  font-family: "ford-antenna-medium","arial","helvetica","sans-serif";
  font-weight: 400;
  font-size: 16px;
}

.search_nav_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 8px 0;
}

.search_nav_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.search_nav_container p {
  color: #fff;
  padding-bottom: 8px;
  margin-left: 16px
}

.search_nav_list li {
  margin-left: 16px;
  color: #fff;
}

.search_nav_list li a {
  color: #FFFFFF
}

.footer_nav_bar {
  background-color: #00142E;
  display: flex;
  justify-content: center;
  gap: 14px;
  padding: 32px 100px 32px 0;
}

.footer_columns_container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.footer_nav_bar .footer_columns_container:last-child {
  justify-content: flex-start;
}
  
.footer_nav_column {
  padding: 0 12px;
}

.support_list,
.experience_list {
  width: 25%;
}

.footer_nav_column .list_header {
  color: #FFFFFF;
  font-size: 16px;
  padding-bottom: 24px;
}

.footer_nav_column li a {
  color: #9c9c9c;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
}

.footer_social_container {
  background-color: rgb(244,244,244);
  display: flex;
  justify-content: space-between;
  padding: 8px 100px 32px;
}

.footer_social_container .nav_bar {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  max-width: 60%;
  padding-top: 24px;
}

.footer_dropdown_arrow {
  display: none;
}

.link_text {
  color: var(--main-color);
  text-decoration: underline;
}

.updates_icon,
.comment_icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}

.social_links {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}

.social_links_list {
  display: flex;
}

.social_links_list li {
  width: 40px;
  height: 40px;
  margin-left: 6px;
}

.social_links_list li:first-child {
  margin-left: 0;
}

.social_link span {
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
}

.footer_tertiary_section {
  background-color: rgb(244,244,244);
  padding: 32px 100px;
}

.language_selector_link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 24px;
}

.footer_bottom_links li {
  display: inline-block;
  margin-right: 24px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #4d4d4d;
}

.footer_brand_logo {
  top: 32px;
  right: 106px;
  width: 73px;
  height: 26px;
}

.brand_logo_link {
  width: 73px;
  height: 26px;
  background: url(images/logos/ford_nav_logo.png) no-repeat -150px 0;
  background-size: 300px 150px;
}

@media (min-width: 1440px) {
  .headline_content h1 {
    font-size: 44px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .nav_first,
  .nav_second,
  .search_box,
  .footer_social_container,
  .footer_tertiary_section,
  .footer_nav_bar {
    padding-inline: 5.3%;
  }

  .explore_btn {
    padding-inline: 66px;
  }

  .footer_brand_logo {
    right: 5.3%;
  }

  .nav_button,
  .nav_item {
    padding-inline: 6px;
  }
}

@media (max-width: 1199px) {
  .my_account_text {
    display: none;
  }

  .social_links {
    flex-direction: column;
  }
}

@media (min-width: 990px) and (max-width: 1439px) {
  .footer_brand_logo {
    right: 4%;
  }
}

@media (min-width: 990px) and (max-width: 1199px) {
  .container {
    padding-inline: 4%;
  }
 
  .nav_first,
  .nav_second,
  .search_box,
  .footer_social_container,
  .footer_tertiary_section,
  .footer_nav_bar {
    padding-inline: 4%;
  }

  .nav_button,
  .nav_item {
    padding-inline: 6px;
  }

  .explore_btn {
    padding-inline: 42px;
  }

  .shop_btn {
    margin-block: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .section_wrapper {
    margin-inline: 34px;
  }
}

@media (min-width: 768px) {
  .description_img img {
    width: 100%;
    height: calc(41vw*0.68);
  }
}

@media (max-width: 991px) {
  .nav_first,
  .nav_second,
  .search_box,
  .footer_social_container,
  .footer_tertiary_section,
  .description_columns_container,
  .historical_section .img_container,
  .footer_nav_bar,
  .explore_btn {
    padding-inline: 26px;
  }

  .mob_hidden {
    display: none;
  }

  .burger_menu_container {
    display: block;
  }

  .headline_content h1 {
    text-align: center;
  }

  .cars_models_list {
    margin-inline: 0;
  }

  .more_info_section .article_container {
    flex-direction: column;
  }

 .more_info_btn_container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  }
  
  .article_container > * {
    width: 100%;
  }

  .social_section h2,
  .social_section p {
    text-align: center;
  }

  .footer_bottom_links li {
    display: block;
    margin-bottom: 6px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1, 
  h2 {
    font-size: 36px;
  }

  .container {
    padding-inline: 30px;
  }

  .headline_content {
    top: 64px;
  }  

  .search_box,
  .footer_social_container,
  .footer_tertiary_section {
    padding-inline: 34px;
  }

  .description_column {
    margin: 0 8px 0 8px;
  }

  .gallery_section .img_wrapper {
    width: 33.333%;
  }

  .gallery_l_hidden_img {
    display: block;
  }

  .gallery_m_hidden_img {
    display: none;
  }

  .cars_models_label {
    width: 40%,
  }

  .comparison_content h2, 
  .comparison_content p, 
  .comparison_content span {
    max-width: 700px;
  }

  .mustang_ad_container p {
    font-size: 22px;
  }
  
  .mustang_ad_container span {
    font-size: 10px;
  }
  
  .mustang_ad_logo {
    width: 80px;
    height: 40px;
  }

  .updates_btn_wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 36px;
  }

  .social_content_wrapper {
    top: 64px;
    bottom: 16px;
  }

  .social_networks_container {
    display: flex;
    justify-content: space-between;
    top: 53%;
  }
  
  .social_network_link {
    width: 166px;
    height: 170px;
    margin: 0;
  }

  .search_nav_container {
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
  }

  .footer_nav_bar {
    justify-content: space-between;
  }

  .footer_nav_bar .footer_columns_container:last-child {
    flex-direction: column;
    width: 35%;
  }

  .support_list .list_header,
  .experience_list .list_header {
    padding: 0;
  }

  .support_list,
  .experience_list {
    padding-block: 16px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .support_list ul,
  .experience_list ul {
    display: none;
  }

  .support_arrow,
  .experience_arrow {
    display: block;
    top: 12%;
    right: 0;
  }

  .footer_brand_logo {
    right: 26px;
  }

  .social_links {
    max-width: 35%;
    flex: 1;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  .search_box,
  .footer_social_container,
  .footer_tertiary_section {
    padding-inline: 20px;
  }

  .section_wrapper {
    margin-inline: 20px;
  }

  .headline_btn_container {
    flex-flow: column;
    align-items: center;
    gap: 10px
  }

  .headline_content {
    top: 24px;
  }  

  .dropdown, 
  .dropdown_content {
    width: 100%; 
    padding: 0;
  }

  .explore_btn {
    width: 100%;
  }

  .dropdown_arrow_container {
    right: 36px;
  }

  .description_columns_container {
    flex-flow: column;
    margin-block: 0;
    padding-inline: 20px;
  }

  .description_column {
    max-width: 100%;
    margin:0 auto 48px auto;
  }

  .gallery_section .img_wrapper {
    width: 50%;
  }

  .gallery_section .header_wrapper {
    padding-block: 30px;
  }

  .mustang_ad_container p {
    font-size: 16px;
  }
  
  .mustang_ad_container span {
    font-size: 6px;
  }
  
  .mustang_ad_logo {
    width: 70px;
    height: 30px;
  }

  .historical_content_wrapper {
    margin-bottom: 0;
  }

  .historical_section .img_container {
    flex-flow: column;
    padding-bottom: 46px;
  }

  .historical_section .img_wrapper {
    width: 100%;
    margin-inline: auto;
  }

  .comparison_content p,
  .comparison_content span,
  .comparison_section_headline p,
  .historical_content_wrapper p {
    max-width: 280px;
  }

  .social_content_wrapper {
    top: 24px;
    bottom: 8px;
  }

  .social_headline_wrapper h2 {
    margin-bottom: 8px;
  }

  .updates_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 18%; 
    top: 10%;
  }

  .updates_btn_wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .search_box {
    flex-direction: column;
  }

  .search_input {
    width: 100%;
  }

  .search_nav_container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .search_nav_list {
    flex-direction: column;
  }

  .search_nav_list li {
    margin: 0 0 4px 0;
  }

  .search_nav_container p {
    margin: 16px 0 4px 0; 
  }
    
  .footer_nav_bar {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .footer_nav_column {
    padding: 0;
  }

  .footer_nav_bar .footer_columns_container:first-child {
    gap: 24px;
  }

  .footer_columns_container {
    flex-direction: column;
    width: 100%; 
  }

  .finance_list .list_header,
  .support_list .list_header,
  .experience_list .list_header {
    padding: 0;
  }

  .finance_list,  
  .support_list,
  .experience_list {
    padding-block: 16px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .finance_list ul,
  .support_list ul,
  .experience_list ul {
    display: none;
  }

  .finance_arrow,
  .support_arrow,
  .experience_arrow {
    display: block;
    top: 12%;
    right: 3%;
  }

  .footer_social_container {
    flex-direction: column;
  }

  .footer_social_container .nav_bar {
    display: block;
    max-width: 100%;
  }

  .updates_item {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 24px;
  }

  .comment_item {
    display: none;
  }

  .footer_brand_logo {
    position: static;
    padding: 24px 0 32px 0;
  }
}

@media (min-width: 480px)  and (max-width: 767px) {
  h2 {
    font-size: 30px;
  }

  .container {
    padding-inline: 25px;
  }

  .s_hidden {
    display: none;
  }

  .dropdown_content {
    left: 0;
  }

  .comparison_content .img_wrapper {
    padding-inline: 25px;
    margin-bottom: 32px;
  }

  .social_network_links {
    display: flex;
    justify-content: space-between;
    top: 57%;
  }
  
  .social_network_link {
    width: 108px;
    height: 108px;
    margin: 0;
  }

  .alert_banner p {
    padding-inline: 25px;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 24px;
  }

  .container {
    padding-inline: 15px;
  }

  .section_wrapper {
    margin-inline: 20px;
  }

  .comparison_content .img_wrapper {
    padding-inline: 15px;
    margin-bottom: 32px;
  }

  .alert_banner p {
    padding-inline: 15px;
  }

  .social_networks_container {
    display: flex;
    justify-content: space-between;
    top: 52%;
  }
  
  .social_network_link {
    width: 64px;
    height: 78px;
    margin: 0;
  }

  .alert_btn, .alert_btn::after {
    width: 300px;
  }  
}  